html{
    box-sizing: border-box ;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
/* контейнер */
.container {
    width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
/* контейнер портфолио */
.container-portfolio {
    width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.list-flex {
    display: flex;
    flex-wrap: wrap;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 94px;
}

.flex-element {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #eeeeee
}
.item-project {
    padding-left: 24px;
}
.item-option {
    padding-left: 24px;
}
.flex-element:nth-child(3n){
    margin-right: 0px;
}
.flex-element:nth-last-child(-n + 3){
    margin-bottom: 0px;
}
.container.list-asset {
    padding-top: 94px;
    padding-bottom: 94px;
}


/* портфолио */
:root {
     --main-font: 'Roboto', sans-serif;
     --background-clr: #ffffff;
     --background-clr-ftr: #2F303A;
     --blue-clr-element: #2196F3;
     --main-clr-: #212121;
}

body{
    font-family: var(--main-font),
    sans-serif;
    color: var(--main-clr-);
    margin: 0;
}
a {
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;

    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.header{
    background-color: var(--background-clr)
}
.list {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    display: flex;
    list-style: none;

}

.item-work {
    width: 370px;
    display: inline-block;
    margin-bottom: 94px;
}
.item-asset {
    width: 270px;
    padding-top: 94px;
    padding-right: auto;
    padding-bottom: 94px;
    padding-left: auto;
}
.asset {
    justify-content: space-between
}

.site-nav {
    display: flex;
}
.site-nav .list{
    display: flex;
    margin-right: 50px;
}
.site-nav .item {
    display: block;
}
.site-nav .item:not(:last-child) {
    margin-right: 50px;
}

.item {
    list-style: none;
}
/* лого */
.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #2196F3;
    text-decoration: none;
    margin-right: 93px;
    }
.logo2 {
    color: #000;
}

/* шапка */
.site-nav .link{
    display: block;
    color: var(--main-clr-);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    text-transform: capitalize;
}
.main-nav {
    display: flex;
    align-items: center;
}
.navigation {
    display: flex;
    align-items: center;
}

.not-visible {
    visibility: hidden;
}

.item-link {
    color: #2196F3;
}

.link-contact {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
    list-style: none;
    margin-right: 50px;
}
.list-contact {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
}
.list-contact .link-contact + .link-contact {
    margin-left: 50px;
}

/* кнопки */

.btn-portfolio{
    display: inline-block;
    background: #F5F4FA;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    text-decoration: none;
    font-family: inherit;
    cursor: pointer;
    padding: 6px 22px;
    border: none;
    margin-left: 8px;
    
}
.btn-portfolio:focus{
    background-color: #2196F3;
    color: #FFFFFF;
}

.btn-portfolio:hover{
    background-color: #2196F3;
    color: #ffffff;
    
}


.list-button {
    list-style: none;
    display: flex;
    margin-bottom: 0px;
    padding-top: 94px;
    padding-bottom: 50px;
    align-items: center;
    justify-content: center;
}

.element:hover{
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--blue-clr-element);
    text-decoration: none;
}
.element {
    color: #757575;
    text-decoration: none;

}


/* примеры работ */
.flex-border {
    display: inline-block;
    width: 270px;
    background-color: #ffffff;
    box-sizing: border-box;
    border: 1px solid #eeeeee;
    margin-right: 30px;
    text-align: center;
    align-items: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    
}
.flex-name {
    display: flex;
    justify-content: space-between;
    padding-bottom: 94px;
}
.team-container {   
    background-color:#F5F4FA;
}

img {
    display: block;
} 

.item-work :not(:last-child){
    margin-right: 0px;
}

.item-project {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-clr-);
}
.item-option {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: #757575;
}
.title-work {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-clr-);
    margin-top: 0px;
    margin-bottom: 50px;
}
.title-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-clr-);
    margin: 0;
    padding-top: 94px;
    margin-bottom: 50px;
}
.list-name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--main-clr-);
    margin-top: 0px;
    margin-bottom: 10px;
}
.list-professional{
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: #757575;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* главная */
.h1 {
    margin-left: auto;
    margin-right: auto;
}
.hero {
    background: #2F303A;
    margin-top: 0;
    margin-bottom: 0px;
    text-align: center;
}

.btn-hero {
    width: 200px;
    height: 50px;
    left: 700px;
    top: 430px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background: var(--blue-clr-element);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    align-items: center;
    display: inline-block;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    margin-top: 30px;
    margin-left: auto;
    margin-bottom: 200px;
    margin-right: auto;
    }

.btn-hero:hover{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    background-color: #2196F3;
    text-decoration: none;
}   
.btn-hero:focus{
    background-color: #2196F3;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.style-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1. 36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;
    padding-top: 200px;

}
/* достоинства */

.item-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 10px;

    color: var(--main-clr-);
}

.item-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* футер */
.footer {
    background: var(--background-clr-ftr);
}
.logo-footer{
    color: #ffffff; 
}
address {
    font-style: normal;
}
.list-adress {
   padding-bottom: 60px;
   padding-left: 0px;
   margin-top: 20px;
   margin-bottom: 0px;
   text-align: left;

}
.footer-item-adress{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-decoration: none;
}
.footer-item-contacts{
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}
